[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "taskwarrior/task/taskopen"]
	path = taskwarrior/task/taskopen
	url = https://github.com/jschlatow/taskopen
    ignore = dirty
