taskwarrior/task/certificates
**/*.log
**/*.data
vscode/extensions
python/ipython/profile_default/db
python/ipython/profile_default/history.sqlite
nvim/pack
python/jupyter/lab/workspaces
tmux/plugins
tmux/resurrect
lvim/plugin
.idea
